*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.top{
    background-color: rgb(254, 1, 216);
    height: 27px;
    width: 100%;
    color: white;
}
#Languages{
  font-family: cursive;
}

.left-top{
    margin: 0px 10px;
    font-size: 19px;
    padding: 1px 1px;
}
.center-top{
    text-align: center;
    font-size: 19px;
    margin: -22px 0px;
}
.right-top{
    text-align: right;
    margin: 1px 2px;
    font-size: 18px;
}
.html{
    scroll-behavior: smooth;
}
header{
    background-color: rgb(37, 123, 123);
    color: white;
    height: 50px;
    top: 0;
    position: sticky;
}
.logo{
    width: 0px;
    height: 20px;
    color: brown;
    font-size: 20px;
    font-family: cursive;
    display: flex;
    padding: 10px 0px;
    font-size: 22px;
    transition: 0.3s;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    
}
.logo img{
    width: 22px;
    height: 22px;
    margin: 2px 5px;


}
@keyframes slideRight {
   0%{ 
    transform: translateX(-100px);
    opacity: 0;
   }
   100%{
    transform: translateX(0px);
    opacity: 1;
   }
}
.navbar{
    display: inline-flex;
    text-align: center;
     margin: 0px -64px; 
    padding: 0px 202px;
}
.select{
    width: 118px;
    height: 32px;
    margin: -10px 50px;
    padding: 0px 0px;
    font-size: 20px;
    border-radius: 20px;
    font-family: cursive;
}
.navbar li{
    list-style-type: none;
    margin: -9px 10px;
    padding: 0px 0px;

}

.a{
    display: flex;
    text-decoration: none;
    margin: -6px 23px;
    font-size: 22px;
    color: white;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 0.5s 1s ease forwards;
}
.a:hover{
    color: #00f700;
}
@keyframes slideTop {
    0%{
        transform: translateY(-100px);
        opacity: 0;
      }
      100%{
        transform: translateY(0px);
        opacity: 1;
      }
    }
.a:active{
    color: rgb(234, 1, 1);
}
input{
    width: 155px;
    height: 22px;
    margin: 9px -4px;
    padding: 2px;
}
.rightNav{
    text-align: right;
    margin: -33px 195px;
    /* width: 54px; */
    height: 45px;
}
.img-nav{
    text-align: right;
    margin: -3px 12px;
    width: 3px 14px;
}
/*.rightNav .bx{
    width: 26px;
    margin: 0px -26px;
    padding: 8px 5px;
    color: #ff0035;
    height: 53px;
}*/
.img1{
    width: 19px;
    height: 22px;
    margin: -2px 17px;
}
.search-ch{
    width: 23px;
    margin: 8px -24px;
    color: red;
}
form{
    width: 200px;
    height: 200px;
    color: aqua;
}
.section1 img{
  width: 100%;
  height: 300px;
}
.section2{
    width: 100%;
    margin: -74px 0px;
}
.section2 select:hover{
    box-shadow: 0px 0px 10px rebeccapurple,
    0px 0px 20px rebeccapurple, 0px 0px 30px rebeccapurple,
    0px 0px 40px rebeccapurple, 0px 0px 50px rebeccapurple;
}
.section2 select{
    width: 111px;
    height: 20px;
    color: mediumvioletred;
    font-size: 15px;
    background: #dddddd;
    border-radius: 25px;
    margin: 40px 25px;
    text-align: center;
    font-family: cursive;
}
.section3 {
   display: flex;
}
.h{
    
    height: 22px;
    font-size: 22px;
    margin: 58px 23px;
    font-family: cursive;
}
part1{
  display: block;
  margin: 3px 10px;
  text-align: center;
  box-shadow: 0px 5px 20px cyan,
  0px 5px 40px cyan, 0px 5px 60px cyan,
  0px 5px 80px cyan;
}
part1:hover{
    transform: translateY(-20px);
}
.img2{
    width: 280px;
    height: 300px;
    display: block;
}
part2{
    display: block;
    text-align: center;
    margin: 5px 13px;
    box-shadow: 0px 5px 20px cyan,
    0px 5px 40px cyan, 0px 5px 60px cyan,
    0px 5px 80px cyan;
}
part2:hover{
    transform: translateY(-20px);
}
part3{
    display: block;
    text-align: center;
    margin: 3px 12px;
    box-shadow: 0px 5px 20px cyan,
    0px 5px 40px cyan, 0px 5px 60px cyan,
    0px 5px 80px cyan;
}
part4{
    display: block;
    text-align: center;
    margin: 4px 10px;
    box-shadow: 0px 5px 20px cyan,
    0px 5px 40px cyan, 0px 5px 60px cyan,
    0px 5px 80px cyan;
}
part3:hover{
    transform: translateY(-20px);
}
part4:hover{
    transform: translateY(-20px);
}
.s2{
    width: 20px;
    height: 19px;
    display: block;
    margin: 10px 97px;
}
.oo{
    width: 280px;
    /* height: 222px; */
    margin: -30px -2px;
}
.o1{
    margin: 62px 23px;
    /* display: inline-flex; */
    color: #10b710;
    font-size: 15px;
}
.s3{
    width: 15px;
    display: block;
    margin: 34px 92px;
    
}
.R{
    margin: -54px 88px;
    text-decoration-line: line-through;
}
.title{
    font-size: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.small-text{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: -55px 10px;
}
.rating{
    width: 125px;
    height: 148px;

}
.kk{
    height: 90px;
    font-size: 45px;
    color: blue;
    margin: 14px 18px;
}
.bx-heart-circle{
    height: 35px;
    margin: 0px 0px;
    float: right;
    color: #d802e7;
}
.iu{
    width: 23px;
    color: blue;
    margin: 14px 112px;
}
.p{
    font-size: 30px;
    margin: -9px 107px;
    font-style: italic;
    font-family: cursive;
}
.p2{
    font-size: 30px;
    color: green;
    margin: 14px 110px;
}
#m{
    
    margin: 15px 48px;
    width: 33px;
    float: right;
}
.s5{
    width: 30px;
    height: 24px;
    display: block;
    margin: 9px 115px;
}
.s6{
    width: 24px;
    height: 19px;
    display: block;
    margin: 52px 116px;
}
.o2{
   
    width: 74px;
    height: 26px;
    margin: -32px 150px;

}
.R2{
    width: 100px;
    height: 87px;
    margin: -67px 144px;
    text-decoration-line: line-through;
}
.o8{
    color: green;
    /* height: 45px; */
    margin: 11px 114px;
    font-size: 40px;
  
}
.small-taxt{
    font-size: 39px;
    margin: 4px 113px;
}
.rating1{
    width: 230px;
    height: 230px;
    margin: -72px 105px;
}
.ok{ 
    display: block;
    margin: 9px -20px;
}
.img3{
    width: 400px;
    height: 550px;
    margin: -6px 30px;
}
.us{
    font-size: 36px;
    color: #d802e7;
    margin: 23px 24px;
    text-decoration: underline;
}
.yy{
    margin: 24px -180px;
}
.rr{
    display: flex;
    height: 50%;
    margin: 36px 116px;
}
.og{
    display: flex;
    width: 100%;
    height: 22px;
    margin: 2px 57px;
}

.og img{
    width: 75px;
    height: 75px;
    margin: 29px 35px;
    display: block;

}
.e{
    color: aqua;
    font-size: 15px;

}
.ig{
    display: flex;
    background: #5d7b7c;
    width: 100%;
    height: 500px;
    margin: 90px 0px;
}
ba1{
    display: flex;
    /* width: 8%; */
    /* height: 60px; */
    margin: 35px 4px;
    padding: 2px 17px;
}
ba1 a{
    text-decoration: none;
}
ba1 a:hover{
    color: #10b710;
}
ba2{
    display: grid;
    /* width: 8%; */
    /* float: right; */
    margin: 35px 265px;
}
sec1{
    text-align: center;
    margin: 2px 17px;
    display: inline-block;
    font-size: 18px;
    font-family: cursive;
}
sec2{
    display: inline-block;
    text-align: center;
    margin: -1px 34px;
    font-size: 18px;
    font-family: cursive;
}

sec3{
    display: inline-block;
    text-align: center;
    margin: 2px 74px;
    font-size: 18px;
    font-family: cursive;
}
sec3 span{
    margin: 0px 30px;
}
sec4{
    display: inline-block;
    text-align: center;
    margin: 2px 15px;
    font-size: 18px;
    font-family: cursive;
}
sec5{
      /* display: grid; */
      text-align: center;
      margin: 2px -98px;
      font-size: 18px;
      font-family: cursive;
}
.bb{
    font-size: 23px;
}
footer{
    BACKGROUND: cornsilk;
    margin: -90px 0px;
}
footer h1{
    text-align: center;
    font-size: 36px;
    padding: 0px 7px;
    font-style: oblique;
    font-family: cursive;
}
.section3 button{
    width: 114px;
    height: 36px;
    margin: -20px 32px;
    border: 2px solid blueviolet;
    border-radius: 28px;
    background: aquamarine;
    font-size: 18px;
    font-family: cursive;
}
.section3 button:hover{
    box-shadow: 0px 0px 50px cyan,
    0px 0px 10px #00f700, 0px 0px 20px #00f700,
    0px 0px 30px #00f700, 0px 0px 40px #00f700;
}
.rr button{
    width: 127px;
    height: 59px;
    margin: 130px -536px;
    border: 2px solid blueviolet;
    border-radius: 28px;
    background: aquamarine;
    font-size: 18px;
    font-family: cursive;
}
.rr button:hover{
    box-shadow: 0px 0px 50px cyan,
    0px 0px 10px #00f700, 0px 0px 20px #00f700,
    0px 0px 30px #00f700, 0px 0px 40px #00f700;
}
.brager{
    display: none;
    right: 5%;
    position: none;
    top: 15px;
    color: cornsilk;
    cursor: pointer;
}
.line{
    
    
    width: 33px;
    margin: 5px 3px;
    height: 4px;
    background-color: rgb(177, 33, 33);
}

@media (max-width:600px) {
    .top{
        width: 100%;
        height: 15px;
        color: white;
        background-color: aqua;
        display: flex;
    
    }
    .left-top{
        font-size: 2.5vw;
    display: flex;
    margin: 2px;
        
    }
    .center-top
    {
        font-size: 3.5vw;
        margin: -1px 13px;
        text-align: center;
    }
    .right-top{
        font-size: 0.2vw;
    margin: -3px 3px;
    text-align: right;
    }
    header{
       width: 100%;
        height: 40px;
        position: relative;
        
        
    }
    .logo{
        width: 10px;
        height: 10px;
        font-size: 2.5vw;
    }
    .logo img{
        width: 15px;
        height: 15px;
        margin: 2px 2px;
    }
    .navbar{
        width: 100%;
        height: 300px;
        flex-direction: column;
        text-align: center;
        font-size: 2vw;
        color: white;
        
    
    }
    .select{
        display: flex;
        width: 117px;
        height: 25px;
        margin: -2px -50px;
    }
    .a{
        display: none;
        position: relative;
        height: 53px;
        margin: 17px 24px;
        text-align: center;
        padding: 2px -1px;
    }
    .rightNav{
        margin-top: -323px;
        width: 22px;
        margin-right: 120px;
    }
    #search{
        width: 65px;
        height: 23px;
        margin: 12px 35px;
    }
    .bx-burst{

    }

    
    .img-nav{
        width: 10px;
        height: 11px;
        text-align: right;
        margin: 2px 283px;
        display: flex;
    }
    .section1 img{
        width: 100%;
        height: 200px;
    }
    .section2{
        margin: -26px -6px;
        height: 18px;
    }
    .section2 select{
        margin: 5px 17px;
        display: inline-block;
        width: 31px;
        height: 15px;
        font-size: 3px;
    }
    .section3{
        width: 100%;
        display: flex;
        margin: -4px 0px;
    }
    part1{
        width: 100px;
    height: 380px;
    display: block;
    margin: 2px 6px;
    }
    .bx-heart-circle{
        width: 16px;
    height: 13px;
    margin: 0px 4px;
    font-size: 5px;
    }
    .img2{
        width: 20vw;
        height: 22vw;
    }
    .title{
        width: 60px;
        font-size: 8px;
        text-align: center;
        margin: 15px 2px;
    }
    .s2{
        width: 9px;
        height: 10px;
        margin: 34px 9px;
    }
    .s3{
        width: 8px;
        height: 10px;
        margin: 61px 9px;
    }
    .oo{
        width: 0px;
        height: 0px;
        margin: -42px 23px;
        font-size: 9px;
    }
    .R{
        width: 60px;
        height: 10px;
        margin: -70px 0px;
        font-size: 9px;
    }
    .o1{
        width: 51px;
        height: 9px;
        font-size: 9px;
        display: flex;
        margin: 82px 9px;
    }
    .small-text{
        width: 85px;
        height: 10px;
        font-size: 8px;
        margin: -59px -5px;
    }
    .rating{
        width: 56px;
        height: 25px;
        margin: 64px -29px;

    }
    .section3 button{
        width: 65px;
        height: 22px;
        font-size: 8px;
        margin: 0px -24px;
    }
    part2{
        width: 100px;
        height: 380px;
        display: block;
        margin: 2px 2px;
    }
    part3{
        width: 100px;
        height: 380px;
        display: block;
        margin: 2px 2px;
    }
    part4{
        width: 100px;
    height: 380px;
    display: block;
    margin: 2px 0px;
    }
    .us{
        text-align: center;
       font-size: 8vw;
    }
    .rr{
        width: 166px;
        /* height: 343px; */
        font-size: 4vw;
        display: flex;
    }
    .yy{
        margin: 2px -124px;
    }
    .iu{
        width: 12px;
    height: 12px;
    font-size: 15px;
    margin: 9px 29px;
    }
    .p{
        font-size: 16px;
        width: 488px;
        margin: 4px 21px;
    }
    .p2{
        font-size: 21px;
        margin: 17px 24px;
    }
    .s5{
        width: 28px;
        height: 28px;
        margin: 9px 25px;
    }
    .o2{
        width: 30px;
    height: 30px;
    margin: -43px 70px;
    font-size: 41px;
    }
    .s6{
        width: 22px;
        height: 22px;
        margin: 69px 38px;
    }
    .R2{
        width: 22px;
        height: 22px;
        font-size: 25px;
        margin: -94px 74px;
    }
    .o8{
        height: 17px;
        margin: 114px 23px;
        font-size: 26px;
    }
    .small-taxt{
        height: 22px;
        margin: -88px 14px;
        font-size: 24px;
    }
    .rating1{
       display: block;
       height: 150px;
       width: 150px;
       margin: 43px 21px;
    }
    .og{

       display: flex;
      /* width: 7%; */
      /* height: 0px; */
      margin: -89px -5px;
    }
    .og img{
          width: 36px;
    }
    .og button{
        width: 165px;
        height: 42px;
        margin: 145px -322px;
    }
    .ok{
        width: 400px;
        margin: 93px -325px;
        text-align: center;
    }
    #m{
        width: 20px;
        height: 20px;
        margin: -20px 244px;
    }
    .img3{
        width: 200px;
        height: 182px;
        margin: 5px -80px;
    }

    .kk{
        text-align: center;
    font-size: 8vw;
    }
    .ig{
        margin: 151px 0px;
    /* text-align: center; */
    height: 517px;
    display: block;
    }
    ba1{
    
    /* font-size: 16px; */
    /* text-align: center; */
    display: flex;
    text-align: center;
    width: 29px;
    }
    sec1{
        display: block;
    font-size: 12px;
    margin: 13px -13px;
    }
    sec2{
        display: block;
    font-size: 12px;
    margin: 13px 25px;
    }
    sec3{
        display: block;
        font-size: 12px;
        margin: 13px -3px;
    }
    sec4{
        display: block;
        font-size: 12px;
        margin: 13px 54px;
    }
    ba2{
        text-align: center;
    }
    sec5{
        font-size: 15px;
        width: 395px;
        display: block;
        margin: 2px -260px;
    }
    footer{
        height: 26px; 
    text-align: center;
    margin: -154px 0px;
    }
    footer h1{
        font-size: 21px;
    }
    .brager{
        display: block;
        position: relative;
        width: 14px;
        height: 10px;
        color: #e50909;
        float: right;
        top: -19px;
        margin: -199px -192px;
    }
    .line{
        width: 20px;
        height: 6px;
        display: flex;
        margin: 3px 5px;
    }


}